[Unit]
Description=Hadoop DataNode
After=network.target

[Service]
User={{ hadoop_user }}
Group={{ hadoop_group }}
Type=simple
Environment="JAVA_HOME={{ java_home }}"
ExecStart={{ hadoop_link_dir }}/bin/hdfs datanode
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
