[defaults]
# Specify the inventory file location
inventory = ./inventory/gcp.yml

# Disable host key checking to avoid SSH prompts (IPs are ephemeral)
host_key_checking = False

# Set the remote user for SSH connections
remote_user = user

# Set location of the private key
private_key_file = ~/.ssh/id_ed25519

[ssh_connection]
# Pipes module code over the SSH session instead of copying it into `/tmp` and then executing it
pipelining = True
